<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salaryy</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>

<body>
    <!-- Add Edit Button -->
    <a href="#">Edit</a>
    <h1>Current cash: 20000$</h1>
    <h1>After one month: 17000$</h1>
    <h1>After two month: 14000$</h1>
    <!-- Add option menu -->
    <h1>...</h1>
    <hr>

    <a href="{{ url_for('employee.add') }}">+ Add</a>

    {% if not employees %}
    <p>bruh you have no employees <a href="{{ url_for('employee.add') }}">add some here</a></p>
    {% else %}
    <div id="people">
	{% for employee in employees %}
        <div class="personInfo">
		<h1>{{ employee['name'] }}</h1>
		<p>${{ employee['salary'] or g.user['employee_salary'] }}</p>
		<a href="{{ url_for('employee.detail', employee_name=employee['name']) }}">More Info</a>
		<a href="{{ url_for('employee.edit', employee_name=employee['name']) }}">Edit</a>
		<form method="post" action="{{ url_for('employee.delete', employee_name=employee['name']) }}">
			<input type="submit" value="Delete">
		</form>
        </div>
	{% endfor %}
	<!-- (delete this maybe)
        <div class="personInfo">
            <h1>Arthur Hooray</h1>
            <p>$1200</p>
            <a href="{{ url_for('employee.detail', employee_name='Arthur Hooray') }}">More Info</a>

        </div>

        <div class="personInfo">

            <h1>Mark Nomen</h1>
            <p>$1200</p>
            <a href="{{ url_for('employee.detail', employee_name='Mark Nomen') }}">More Info</a>

        </div>
	-->
    </div>
    {% endif %}
</body>

</html>
