<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salaryy</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../salaryy/static/style.css">
</head>

<body>
    <!-- Add Edit Button -->
    <a href="#">Edit</a>
    <h1>Current cash: 20000$</h1>
    <h1>After one month: 17000$</h1>
    <h1>After two month: 14000$</h1>
    <!-- Add option menu -->
    <h1>...</h1>
    <hr>

    <div id="people">
        <div class="personInfo">
            <h1>John Smith</h1>
            <p>$1200</p>
            <a href="detail.html">More Info</a>
        </div>

        <div class="personInfo">
            <h1>Arthur Hooray</h1>
            <p>$1200</p>
            <a href="detail.html">More Info</a>

        </div>

        <div class="personInfo">

            <h1>Mark Nomen</h1>
            <p>$1200</p>
            <a href="detail.html">More Info</a>

        </div>
    </div>
</body>

</html>